.flexigrid div.fbutton .add {
	background: url(../images/button/add.png) no-repeat center left;
}
.flexigrid div.fbutton .delete {
	background: url(../images/button/close.png) no-repeat center left;
}
.flexigrid div.fbutton .edit {
	background: url(../images/button/edit.png) no-repeat center left;
}
.flexigrid div.fbutton .save {
	background: url(../images/button/save.png) no-repeat center left;
}
.flexigrid div.fbutton .show {
	background: url(../images/button/show.png) no-repeat center left;
}
.flexigrid div.fbutton .audit {
	background: url(../images/button/drop-yes.gif) no-repeat center left;
}
.flexigrid div.fbutton .unaudit {
	background: url(../images/button/drop-no.gif) no-repeat center left;
}
.flexigrid div.fbutton .uppas {
	background: url(../images/button/page_edit.png) no-repeat center left;
}
.flexigrid div.fbutton .revert {
	background: url(../images/button/revert.png) no-repeat center left;
}
.flexigrid div.fbutton .import {
	background: url(../images/button/application_put.png) no-repeat center left;
}
.flexigrid div.fbutton .export {
	background: url(../images/button/application_get.png) no-repeat center left;
}
.flexigrid div.fbutton .piliang {
	background: url(../images/button/script_edit.png) no-repeat center left;
}
.flexigrid div.fbutton .goback {
	background: url(../images/button/goback.png) no-repeat center left;
}