#Header{
	/*background:url(images/top.gif) repeat-x left -29px;
           width:980px; height:203px; margin:0;*/
           background:url(../images/web/main_1410.gif) repeat-x top; overflow:hidden; width:100%; min-width:980px; height:203px; margin-top:2px;  margin-bottom:0px; /*201206锟斤拷锟睫革拷*/
	}
    .topBox{ width:auto; height:28px;}/**/
    .topBox .topTools{ float:right; width:349px; padding:3px 90px 0 10px; height:24px; line-height:24px; font-family:Tahoma, ""; color:#999;}
	.topBox .topTools a{ width:75px; background:url(images/icon1.gif) no-repeat 0 5px; font-size:12px; color:#fff; margin-left:20px;}
	.topBox .topTools a:hover{ color:#F00;}
    #Header .logo{ width:auto; height:135px;}/*logoFLASH*/
	.userLog { float:left; padding-top:5px; width:600px; height:28px; padding-left:30px; background:url(images/main_08.gif) no-repeat 15px 5px; color:#5e6d76; overflow:hidden;}
	.userLog input { border:1px solid #93c6e9; line-height:12px; height:12px; padding:2px;}
	.userLog #mbenter2 { border:0; height:auto; margin-left:5px;}
/* @end **/
.web_tool {
	float:left;
	width:960px;
	text-align:left;
	height:32px;
position:relative;

}
.web_tip {
	height:31px;
	line-height:31px;

}
.web_tip a {
   height:21px;line-height:21px;
   display:inline-block;
   padding:0px 5px 0px 17px;
	color:#000000;
	background:url(images/tool.gif) no-repeat left 3px;
}
.web_tip a.wap {
	background:url(images/tool.gif) no-repeat 1px -16px;
	padding-left:17px;
	padding-right:7px;
}
.web_tip a.fav {
	background:url(images/tool.gif) no-repeat left -36px;
	padding-right:0px;
}
.web_tip a.home {
	background:url(images/tool.gif) no-repeat left -55px;
	padding-right:0px;
	padding-left:19px;
}
.web_tip a.rss {

	padding-right:5px;
}
.web_tip a.ask {
	background:url(images/tool.gif) no-repeat left -84px;
}
.web_tip a.searches {
	background:url(images/tool.gif) no-repeat left -111px;
}
.web_tip a.reg {
	background:url(images/tool.gif) no-repeat left -137px;
	padding-right:8px;

}
.web_tip a:hover {
	color:#cc0000;
}
#NavBox{ width:auto; height:69px; margin-bottom:10px;}
	#topmenu{padding-left:10px;height:34px; background:url(../images/web/main_03.png) no-repeat; overflow:hidden;}
	#topmenu a{float:left;height:34px;line-height:34px;width:85px; text-align:center; position:relative; background:url(images/spaline.gif) no-repeat right center;}
	#topmenu a em{  font-size:14px;color:#fff;display:inline-block;width:90px; font-weight:bold;}
	#topmenu a:hover em,#topmenu a.selected em{background:url(images/nav-bg-ahover.gif) no-repeat 0 0;font-size:14px;font-weight:bold;color:#fff;text-decoration: none;}
	
	#extMenu{height:33px;overflow:hidden; background: url(../images/web/main_05.gif) repeat-x;}
	.menu_list_a{height:33px;padding-left:10px;overflow:hidden;}
	.sub_searchBox{ float:right; height:26px; width:286px; padding-top:7px; *padding-top:0px; _padding-top:5px; margin-right:10px; line-height:normal;}
	.model_search_click{width:40px;height:20px;background:url(images/main_13.gif); border:none; border:0px;} 
	.model_search { width:160px;}
	
	#extMenu .subList{ display:block; height:33px; padding-left:15px; }
	#extMenu .subList li{ float:left;padding:0px 3px 0 10px; line-height:33px; background:url(../images/web/liteIcon.gif) no-repeat 0 14px;}
	#extMenu .subList li a{ display:inline-block; width:71px; height:33px; color:#4581a8; text-align:left;}
	#extMenu .subList li a:hover{ width:71px; height:33px; color:#ff6600;}
	#menu_list_92 li { padding:0 5px;}
	.contactBox { margin:0; }

#footer { background:url("../images/web/main_141.gif") repeat-x top; clear:both; /*锟斤拷锟� 锟斤拷*/}
.mode-friendLinks { text-align:center; padding-top:3px; height:26px;}

#footerBox dt{ height:40px; line-height:40px; font-family:""; text-align:center; color:#0870a4;}
#footerBox dt a { color:#0870a4;}
#footerBox dd { line-height:26px; text-align:center; color:#333; padding-bottom:20px;}
#footerBox { margin-top:0px;}
.navSide dd { min-height:30px;_height:30px;}

#tuijianFriendLink{ margin: 10px auto; height:40px; width:958px;}
#tuijianFriendLink img{ height:38px; width:106px; border:1px solid #e8e8e8; margin:0 2px;}

#LoginFrom {
    color:#FFFFFF;
	padding:3px 0px 0px 10px;
	float: left;
	}
#LoginFrom input {
	color: rgb(102, 102, 102); font-size: 12px;
	vertical-align: middle;
	}
#LoginFrom .fl {
	float: left;
	}	
#LoginFrom h1 {
	padding: 0px 15px 0px 0px; float: right;
	}
#LoginFrom a {
    color:#FFFFFF;
	}
.u_login {
	padding-left: 15px;
	padding-top:8px;
	color:#FFFFFF;
}
.u_login a {
    color:#FFFFFF;
	}
.u_login a:hover {
    color:#FF0000
	}
