@charset "utf-8";
/* CSS Document */
/**
  * @name	    :
  * @author	    :赵俊
  * @time       :2010/11/10
  * @version	:1.0
  * @type	    :
  * @explain	:
  减了24
*/
html { background:url(images/htmlbg.gif) repeat-x top;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td {margin:0;padding:0;}
address, caption, cite, code, dfn, em, th, var {font-style:normal;}
ul, li {list-style-type:none;}
img {border:none;}
input, textarea, select {font-family:inherit;font-weight:inherit;vertical-align:middle;}
input,select{vertical-align:middle;height:18px;line-height:18px;} 
select{height:22px;}
body {
/*background:#fff url(../../../guanlan/swf/hg111.swf) no-repeat top;*/
/*BACKGROUND: url(images/bgs.jpg) #f7f9fe repeat-x; 海修改121206*/
background: url(../images/web/bgs.jpg) repeat-x; #fff; /*海修改121206*/
color: #666;
font: 12px '', Arial, Helvetica, sans-serif;
}
a {color: #555;text-decoration:none;cursor: pointer;}
a:hover {color: #cc0000;text-decoration:none;}
h1{margin: 0px;padding: 0pxbackground: none;font: normal normal bold 24px/150% Arial, "" ,Helvetica,sans-serif;text-align: center;}
.mt5{ margin-top:0px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:20px;}
.ml10{ margin-left:10px;}
.mb10{ margin-bottom:10px;}
.mr10{ margin-right:10px;}
.lf{ float:left;}
.ri{ float:right;}
.clearBox{ clear:both;}
.wrap {width:1007px; height:auto !important; margin:0 auto; /*height:1000px; min-height:1000px;海*/}
#Page-container{ width:auto; height:auto;}
#page-box{ _overflow:hidden;}
/* @end **/


/**
  * @name	    :Main-content
  * @author	    :赵俊
  * @time       :2010/11/12
  * @version	:1.0
  * @type	    :
  * @explain	:
  * @relating   :
  * @dependent  :
*/
.Main-content{ float:left; width:765px; height:auto !important; height:500px; min-height:500px;}
    .mode-a{ width:auto;clear:both;overflow:hidden;zoom:1;}
	/* S ͷ  */
	.mode-hdInfo{ background:url(images/index_headlines.gif) no-repeat; width:550px; height:78px; padding-left:160px;}
	.mode-hdInfo h1 a{font: bold normal normal 24px/190% "΢ź"; *font-weight:bold; color:#d60000;}
	.mode-hdInfo h1 a:hover{color:#32a607;}
	.mode-hdInfo p{font: normal normal normal 24px/110% Arial, "", Helvetica, sans-serif;}
	.mode-hdInfo p a{ color:#32a607; font-family:"";}
	.mode-hdInfo p a:hover{ color:#900;}
    /* E ͷ  */
	
	/* S OR  */
	.mode-news{ width:auto; clear:both;overflow:hidden;zoom:1;}
	.mode-news-lf{ float:left; width:400px; overflow:hidden;}
	.mode-news-ri{ float:right; width:324px;border:solid 1px #75d762; padding:1px;}
	  /**/
	  .slide_Pic{ width:320px; height:240px; padding:2px; border:solid 1px #a6c2f3; background-color:#e5f3fe;}
	  .photos{ position:relative;width:364px;}
	  .photos .photo {width:364px;}
	  .photos .photolist{ display:none;}
	  .photos .photolist li a img{width:364px;height:220px;vertical-align:middle;}
	  .photos .control{display:none;position:absolute;top:8px;left:8px;}
	  .photos .control ul{zoom:1;}
	  .photos .control ul:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
	  .photos .control ul li{_display:inline;float:left;margin:0 2px;}
	  .photos .control ul li.btn{width:16px;height:14px;text-indent:-3000px;background:url("images/control.gif") no-repeat;cursor:pointer;border:1px solid #D4D4D4;}
	  .photos .control ul li.play{ background-position:-16px 0;}
	  .photos .control ul li select{ height:17px;}
	  .photos .caption{ display:block; position:absolute; top:196px; _top:192px; left:0; padding:6px 12px; width:340px; color:#fff; background:#000; filter:alpha(opacity=50); -moz-opacity:0.6; opacity:0.6;}
	  .photos .caption a:link,.photos .caption a:visited{color:#fff;}
	  .photos .caption a:hover,.photos .caption a:active{color:red;}
	  .photos .thumb{ position:absolute; top:220px; width:364px; overflow:hidden;}
	  .photos .thumb ul {width:364px;}
	  .photos .thumb ul li{ float:left; margin:0 3px 0 4px; _margin-left:3px; padding:9px 2px 2px 2px; width:80px; height:63px; background:url(images/slide_bg.jpg) no-repeat}
	  .photos .thumb ul li.cur{ background:url(images/slide_act.jpg) no-repeat;}
	  .photos .thumb ul li img{ width:80px;height:63px;cursor:pointer;}
	  
	  .depMessage1 { float:left; height:169px; width:397px; border:solid 1px #a9c5f3; background:url(images/depbg.png) repeat-x top;}
	  .depMessage1 dt { padding:4px 0 0 3px; height:23px;background:url('../images/web/headbg.png') repeat-x;}
	  .depMessage1 dt a { float:left; width:80px; height:21px; line-height:21px; text-align:center; font-weight:bold; color:#528ebe; background:url(images/spaline2.gif) no-repeat right;}
	  .depMessage1 dt .act { background:url(../images/web/main_32.gif) no-repeat center; color:#fff;}

	  .depMessage2 { float:right; height:169px; width:428px; border:solid 1px #a9c5f3; background:url(images/depbg.png) repeat-x top;}
	  .depMessage2 dt { padding:4px 0 0 3px; height:28px;}
	  .depMessage2 dt a { float:left; width:53px; height:21px; line-height:21px; text-align:center; font-weight:bold; color:#528ebe; background:url(images/spaline2.gif) no-repeat right;}
	  .depMessage2 dt .act { background:url(../images/web/main_32.gif) no-repeat center; color:#fff;}
	  
  	  .depMessage3 { float:left; height:250px; width:397px; border:solid 1px #a9c5f3; background:url(images/depbg.png) repeat-x top;}
  	  .depMessage4 { float:right; height:250px; width:354px; border:solid 1px #a9c5f3; background:url(images/depbg.png) repeat-x top;}
	  
	  /* S mode_b  */
	  .mode-b{ border:solid 1px #a9c5f3;} 
	  .mode-b dt{ display:block; height:23px; line-height:23px; padding:0px 0 0 15px; border-bottom:1px solid #cadbe7;background:url('../images/web/headbg.png') repeat-x;} 
	  .mode-b dt a{ display:block; float:left; width:74px; height:23px; text-align:center; background:url(images/main_85.gif) no-repeat; font-weight:bold; color:#5f95c5; margin-right:5px;}
	  .mode-b dt a.act{width:74px; background:url(../images/web/main_83.gif) no-repeat; font-weight:bold; color:#fff;}
	  .mode-b dd{ display:block; padding:0px;}
	  /* E mode_b  */
	
	  /* S  չ(mode_b) */
	  .mode-b-message {height:169px;}
	  .mode-b-message dt a{ display:block; float:left; width:59px; height:26px; text-align:center;}
	  .mode-b-message dt a.act{width:59px;  background:url(images/tab_bg_e.gif) no-repeat; font-weight:bold; color:#F00;}
	  .mode-b-message dd{ padding:0 1px; width:auto;}
	  .mode-b-message dd h3{ display:block;  height:33px; font-size:12px; background:url(images/mode-hd-c.gif) repeat-x;}
	  .mode-b-message dd h3 span{ display:block; height:33px; line-height:33px;text-align:center;}
	  .mode-b-message dd .type-bh,.mode-b-message dd .type-bt,.mode-b-message dd .type-zt{ float:left;}
	  .mode-b-message dd .type-bh{ width:40px;}
	  .mode-b-message dd .type-bt{ width:260px; border:solid 1px #FFF; border-top:0px; border-bottom:0px; }
	  .mode-b-message dd .type-zt{ width:60px;}
	  .mode-b-message dd ul{ display:block; height:auto !important; height:50px; min-height:50px;text-align:center;}
	  .mode-b-message dd ul li{ display:block; height:27px;line-height:27px; border-top:solid 1px #fff; *border-top:0px; background:#f7f7f5;}
	  .mode-b-message dd ul li span{*border-bottom:0px;}
	  .mode-b-message dd ul li a{ display:block; text-align:left; text-indent:10px;zoom: 1}
	  .mode-b-message dd .type-more{ height:10px; line-height:10px; margin-top:10px; *margin-top:7px; margin-left:2px; background:url(images/linksMore_bg.gif) repeat-x left center;}
	  .mode-b-message dd .type-more a{display:block; float:right; width:34px; padding:0 10px; background:#fff url(images/more.gif) no-repeat center center; text-indent:-999px;}
	  /* E  չ(mode_b) */
	  
	  /* S б չࣨmode-news-ri */
	  
	.bestNews .ti{ border-bottom:1px solid #cadbe7; height:23px; line-height:23px; padding:0 10px 0 15px;background:url('../images/web/headbg.png') repeat-x;}
	.bestNews .more { float:right; padding-top:4px;}
	.bestNews .ti span { float:left; background:url(../images/web/main_83.gif) no-repeat; text-align:center; width:74px; height:23px; line-height:23px; font-weight:bold; color:#fff;}
	
	.topNews { padding:0 12px;}
	.topNews li{background:url(images/liteIcon.gif) no-repeat 0 12px; line-height:24px; padding-left:10px; text-align:right;}
	.topNews li a{font-size:12px; float:left;}
	.topNews li.first{color:#999; background:#e9f3fd;; padding:5px; text-align:center; margin:6px 0 6px;}
	.topNews li.first a{font-size:14px; font-weight:bold !important; color:#ff7e00; height:34px; padding-top:4px; line-height:34px; float:none;}
	.topNews li.first .list_intro{text-align:left; line-height:18px; padding:0 10px 5px; color:#666;text-indent:2em;}
	.topNews li.first .list_intro a{font-size:13px!important;color:#666666!important;font-weight:normal !important;text-align:left; line-height:18px; padding:0 10px 5px;text-indent:2em;}
	.bestNews { float:right; width:100%;}
	
.topPhoto{ width:430; height:76px; overflow:hidden;margin:8px auto 0;}
.topPhoto .photoList{ display:block; width:3000px; }
.topPhoto #roll2{float:left; width:400px; height:76px; margin:auto 5px; overflow:hidden; }
.topPhoto #roll2 img{ cursor:pointer;}
.topPhoto_btl, .topPhoto_btr{ display:block;width:5px;height:9px; margin-top:32px; text-indent:-99em;cursor:pointer;background:none;border:none;}
.topPhoto_btl{ float:left; background:url(images/main_43.gif) no-repeat;}
.topPhoto_btr{ float:left; background:url(images/main_45.gif) no-repeat;}


	  
	  .mode-news-ri .hd{ background:url(images/mode-hd-a.gif) repeat-x 0 0; height:33px; line-height:33px; padding:0px 5px 0 10px;zoom: 1}
	  .mode-news-ri .hd h3{ font-size:14px; padding-left:25px; color:#d7131c; background:url(images/icon.png) no-repeat 0 6px;zoom:1}
	  .mode-news-ri .hd span{ float:right;}
	  .mode-news-ri .hd span a{ color:#0a9601;}
	  .mode-news-ri .hd span a:hover{ color:#F00;}
	  .mode-news-list{ display:block; height:230px; padding:5px;}
	  .mode-news-list li{ line-height:25px; text-align:right; color:#999;}
	  .mode-news-list li a{ float:left;padding-left:3px; color:#2b7a29;}
	  .mode-news-list li a:hover{ color:#F00;}
	  .mode-news-list li img{ float:left; padding-top:2px;}
	  .mode-news-list .date{ float:right; color:#999;}
	  
	  .mode-news-ri .hd1{ background:url(images/mode-hd-a2.gif) no-repeat 5px 0; height:21px;}
	  .mode-news-ri .hd1 h3{ text-indent:-9999px;}
	  .mode-news-pic{ display:block; padding:8px 4px 0 6px;}
	  .mode-news-pic li{float:left; width:33%; height:105px; text-align:center; overflow:hidden; zoom:1;}
	  .mode-news-pic .pe_u_thumb{height:74px; background:#fff;margin:auto;}
	  .mode-news-pic .pe_u_thumb img{ width:90px; height:70px;}
	  .mode-news-pic .pe_u_thumb a img{ border:1px solid #999; padding:1px; }
	  .mode-news-pic .pe_u_thumb a:hover img{ border:1px solid #F00; padding:1px; }
	  .mode-news-pic .pe_u_thumb_title {line-height:18px; margin-top:5px; }
	  .mode-news-pic .pe_u_thumb_title a{ font-family:Arial, Helvetica, sans-serif;}
	  /* E б չࣨmode-news-ri 
	  
	  /* S Ż (mode_a) */
	  .mode-deptNav{clear:both;overflow:hidden;height:88px; background:url(../images/web/officesbg.jpg) no-repeat; border:1px solid #a9c5f3;}
	  .s_botDepart{margin:10px 0 0 215px; overflow:hidden;}
	  .s_botDepart a{float:left;_display:inline; height:57px; margin:5px 3px 0; position:relative; width:58px; background:url(../images/web/bg-dep-icon.png) no-repeat 0px 0px; color:#000; }
	  .s_botDepart a span{width:100%;text-align:center; position:absolute; bottom:0px;left:0px;cursor:pointer; }
	  .s_botDepart a.d1{background-position:16px 0; }
	  .s_botDepart a.d2{background-position:-52px 0;}
	  .s_botDepart a.d3{background-position:-120px 0;}
	  .s_botDepart a.d4{background-position:-188px 0; }
	  .s_botDepart a.d5{background-position:-256px 0; }
	  .s_botDepart a.d6{background-position:-324px 0; }
	  .s_botDepart a.d7{background-position:-389px  0; }
	  .s_botDepart a.d8{background-position:-455px  0; }
	  .s_botDepart .s{float:left;display:inline; height:63px;width:3px;background:url(images/main_66.gif) no-repeat}
	  /* E Ż (mode_a) */
	  
	  /* S ѡ (mode_b) */
	  .mode-b-inTab{ width:376px; height:257px; background:url(images/main_80.gif) no-repeat top;}
	  .mode-b-inTab dd{ display:block;}
	  .mode-b-inTab dd .thumbListStlye5{ display:block;height:110px; width:auto; padding:10px 5px 0 5px;}
	  .mode-b-inTab dd .listStyle1{ display:block; padding:5px 10px 0;}
	  .mode-b-inTab dd .type-more1{ height:11px; line-height:11px; margin-top:6px; margin-left:2px; background:url(images/linksMore1_bg.gif) repeat-x left center;}
	  .mode-b-inTab dd .type-more1 a{display:block; float:right; width:34px; padding:0 10px 0 2px; background:#fff url(images/more1.gif) no-repeat center center; text-indent:-999px;}
	  /* E ѡ (mode_b) *
	  
	  
	  /* S mode-c  */
	  .mode-c{width:350px; height:250px;}
	  .mode-c .hd{ height:38px; width:auto; line-height:38px; padding:0 10px;}
	  .mode-c .hd span{ float:right;}
	  .mode-c .hd h3{ font-size:14px; color:#FFF; text-indent:30px;}
	  .mode-c .bd{ padding:5px;}
	  /* E mode-c  */
	  
	  /* S ༶ҳ չ */
	  .mode-c-ClassPage{ width:348px; height:248px; border:solid 1px #e5cc8f;}
	  .mode-c-ClassPage .hd{ background:url(images/mode-hd-e.gif) no-repeat center center;}
	  .mode-c-ClassPage .hd h3{ color:#900;}
	  .mode-c-ClassPage .bd{ padding:15px 10px 0 10px;}
	  .mode-c-ClassPage .bd ul{ display:block;border:solid 1px #e5cc8f;border-top:0px;}
	  .mode-c-ClassPage .bd li{ height:27px; line-height:27px;border-top:solid 1px #e5cc8f; border-bottom:0px;  zoom:1;}
	  .mode-c-ClassPage li span{ display:block; padding-left:30px; float:left; width:54px; background:url(images/ClassPage-left.gif) no-repeat; margin-right:10px;}
	  .mode-c-ClassPage li a{ display:block; float:left; width:30px;  font-size:14px; text-align:center; font-family:Arial;}
	  .mode-c-ClassPage li a:hover{ background:#efecd3;color:#060; font-weight:bold;}
	  /* E ༶ҳ չ */
	  
	  /* S  չ */
	  .mode-c-blog{ width:348px; height:248px; border:solid 1px #fda825;}
	  .mode-c-blog .hd{ display:block; background:url(images/mode-hd-f.gif) no-repeat center center; height:33px; padding-top:5px;}
	  .mode-c-blog .hd a{ display:block; float:left; text-align:center; width:86px; height:31px; line-height:30px; font-size:14px; font-weight:bold; color:#fff;}
	  .mode-c-blog .hd a.act{ background:url(images/tab_bg_f.gif) no-repeat; width:86px; height:31px;}
	  .mode-c-blog .bd{ display:block; padding:5px 10px 0 10px; height:202px; overflow:hidden;}
	  /* E  չ */
	  
	  /* S Ƶ չ */
	  .mode-c-video{ width:348px; height:248px; border:solid 1px #3fc6e8;}
	  .mode-c-video .hd{ display:block; background:url(images/mode-hd-g.gif) no-repeat center center;}
	  .mode-c-video .bd{ display:block; padding:5px 0 0 0;}
	  .mode-c-video .thumbListStlye4 { display:block; height:100px; text-align:center;overflow:hidden; padding-left:10px;}
	  .mode-c-video .thumbListStlye4 li {display:block;float:left;width:112px;overflow: hidden;height:104px;}
	  .mode-c-video .thumbListStlye4 .pe_u_thumb {width:99px;height:70px;background:url(images/videoIMG-bg.gif) no-repeat 0 0;  padding:2px; margin:0;}
	  .mode-c-video .thumbListStlye4 .pe_u_thumb img { width:99px; height:60px; border:0px;}
	  .mode-c-video .thumbListStlye4 .pe_u_thumb_title {margin-top:6px;text-align:center;}
	  .mode-c-video .thumbListStlye4 .pe_u_thumb_title a{ font-family:Arial, Helvetica, sans-serif;}
	  .mode-c-video .listStyle1{ display:block; background:url(images/mode-bd-a.gif) repeat-x 0 0; padding:10px 5px 0 5px;}
	  /* E Ƶ չ */
	  
	  /* S У԰֮ չ */
	  .mode-c-campusStar{width:348px; height:248px; border:solid 1px #779f0b;}
	  .mode-c-campusStar .hd{ display:block; background:url(images/mode-hd-h.gif) no-repeat center center;}
	  .mode-c-campusStar .bd{ display:block; padding:10px 10px 0 10px;}
	  .mode-c-campusStar .bd ul{ display:block;}
	  .mode-c-campusStar .bd .listStyle1 { float:left; width:190px; margin-top:5px;}
	  .mode-c-campusStar .bd .thumbListStlye3{ float:right; width:125px; background:#76a00c; padding:2px; margin-top:10px;}
	  .mode-c-campusStar .bd .thumbListStlye3 .pe_u_thumb {width:125px;height:141px;}
	  .mode-c-campusStar .bd .thumbListStlye3 .pe_u_thumb img { border:solid 1px #fff;}
	  .mode-c-campusStar .bd .thumbListStlye3 .pe_u_thumb_title {margin-top:3px;text-align:center;}
	  .mode-c-campusStar .bd .thumbListStlye3 .pe_u_thumb_title a{ font-family:Arial, Helvetica, sans-serif; color:#FFF;}
/* @end **/

/**
  * @name	    :Sidebar
  * @author	    :赵俊
  * @time       :2010/11/14
  * @version	:1.0
  * @type	    :
  * @explain	:
  */
.Sidebar{ float:right; width:204px; height:auto !important; height:500px; min-height:500px;}
.mode-d{ width:auto; height:auto;clear:both;overflow:hidden;zoom:1;}

	  .Sidebar .NoteBox dt span a { padding:0 3px}
	  .Sidebar .NoteBox dt span { margin-right:3px;}
	  .NoteBox dd{ min-height:120px; _height:120px; }
	  .genInfoBox{ border:solid 1px #8bccfa; background:#f2f7fb;}
	  .genInfoBox dt{ display:block; height:24px; background:url(../images/web/main_36.gif) no-repeat right; padding:6px 0 0 7px; }
	  .genInfoBox dt a{ display:block; float:left; height:24px; font-size:12px; line-height:24px; text-align:center; color:#724301; font-weight:bold;}
	  .genInfoBox dt span { float:left; height:24px; margin-right:5px;}
	  .genInfoBox dt span a { display:inline-block; padding:0 10px; color:#fff; }
	  .genInfoBox dt span.act {background:url(images/main_23.png) no-repeat right bottom;}
      .genInfoBox dt span.act a{ color:#2787c7;background:
	  url(images/main_22.gif) no-repeat left bottom;}
	  .genInfoBox dd{ display:block; padding:5px;}
	  
	  .quickLinks li { float:left; width:64px; overflow:hidden; text-align:center; margin-bottom:3px; height:67px;}
	  .quickLinks em { display:block; padding:3px 0; background:url(images/qlbg.png) no-repeat 50% 50%; font-weight:bold; color:#fff;}
	  
	  .president { text-align:center;}
	  .president img { margin:5px 0;}
	  .president ul { padding:0 8px; line-height:22px; color:#666; text-align:left;}
	  .president ul a { color:#666;}
	  .president ul a span { color:#39c;}
	
	
/* @end **/


/* S ͼƬ */
.mode-b-photo{ background:url(../images/web/main_133.gif) no-repeat top left;}
.mode-b-photo .hd { height:30px;}
.mode-b-photo .hd .more { float:right; padding:6px 20px 0 0;}
.mode-b-photo dd{ display:block; width:936px; padding:10px 10px 0; width:auto; overflow:hidden;}
#psH, #psH2, #psH3{text-align:center; width:936px; height:150px; overflow:hidden;}
#psH .Rollcontent, #psH2 .Rollcontent, #psH3 .Rollcontent{width:2500px; height:150px; text-align:center; margin:0px auto; overflow:hidden; }
#psH .Rollcontent ul, #psH2 .Rollcontent ul, #psH3 .Rollcontent ul{float:left; width:2500px; height:150px; clear:none; display:inline; overflow:hidden; }
/* E ͼƬ */

.mod_banner_bota{ height:135px; overflow:hidden;}
.mod_banner_bota .thumbListStlye1{ display:block; width:3000px; }
.roll, .roll2{float:left; width:870px; height:128px; margin:auto 5px; overflow:hidden; }
.roll img, .roll2 img{ cursor:pointer;}
.photos_c_btl, .photos_c_btr{ display:block;width:26px;height:26px; margin-top:40px; text-indent:-99em;cursor:pointer;background:none;border:none;}
.photos_c_btl{ float:left; background:url(../images/web/Index_subLRpng.gif) no-repeat 0px -41px;}
.photos_c_btr{ float:right; background:url(../images/web/Index_subLRpng.gif) no-repeat 0px 0px;}



/* S  */
.f_link{ height:22px;}
.f_link select {height:21px; line-height:21px; margin-right: 20px; width: 160px; overflow:hidden; }
/* E  */



/***ʽ2****/
.picList2 li{width:100%;float:none; clear:both;overflow:hidden;zoom:1; }
.picList2 .pe_u_thumb{text-align:center;margin:5px 0 0 0;}
.picList2 .pe_u_thumb a img{padding:2px;border:1px solid #E0E0E0;    }
.picList2 .pe_u_thumb a:hover img{border:1px solid #999;background:#fff;  }
.picList2 .pe_u_thumb{float:left;display:inline;width:120px;}
.picList2 .pe_u_thumb_title{float:right;display:inline;width:210px;text-align:left; padding-top:5px; }
.picList2 .pe_u_thumb_title a{font-weight:bold;color:#f63;}
.picList2 .pe_u_thumb_title a:hover{font-weight:bold;color:#0f8ed3;}
.showPic{clear:both;overflow:hidden;}

/*ͼƬб5*/
.thumbListStlye5 { display:block;text-align:center;overflow:hidden;zoom:1; }
.thumbListStlye5 li {display:block;float:left;width:111px;overflow:hidden;zoom:1;height:100px;}
.thumbListStlye5 .pe_u_thumb {width:102px;height:76px;background:#fff;border:1px solid #ccc;margin:0 auto;}
.thumbListStlye5 .pe_u_thumb img {margin:3px;}
.thumbListStlye5 .pe_u_thumb_title {margin-top:6px;text-align:center;}
.thumbListStlye5 .pe_u_thumb_title a{ font-family:Arial, Helvetica, sans-serif;}

/*ͼƬб1*/
.thumbListStlye1 { display:block;text-align:center;overflow:hidden;zoom:1; }
.thumbListStlye1 li {float:left;overflow:hidden;zoom:1; margin:0 5px; width:126px;}
.thumbListStlye1 .pe_u_thumb {background:#fff;border:1px solid #ccc;margin:0 auto;}
.thumbListStlye1 .pe_u_thumb img {margin:2px; width:120px; height:90px;}
.thumbListStlye1 .pe_u_thumb_title {margin-top:2px;text-align:center; height:26px; line-height:26px;}
.thumbListStlye1 .pe_u_thumb_title a{ font-family:Arial, Helvetica, sans-serif;}

/*бʽ1*/
.listStyle1 li {line-height:24px;text-align:right;}
.listStyle1 li img{ float:left; padding-top:3px;}
.listStyle1 li a {float:left;padding-left:3px;}
.listStyle1 li a{ font-family:Arial, Helvetica, sans-serif;}

.GenList { padding:0 10px;}
.GenList li {line-height:22px;text-align:right;}
.GenList li { background:url(images/liteIcon.gif) no-repeat 0 7px; line-height:22px;}
.GenList li a {float:left;padding-left:10px;}
.GenList li a{ font-family:Arial, Helvetica, sans-serif;}


.photoList { display:block;text-align:center;overflow:hidden;zoom:1; }
.photoList li {float:left;overflow:hidden;zoom:1; margin:0 3px; width:94px; height:74px;}
.photoList .pe_u_thumb {background:#fff;border:1px solid #ccc;margin:0 auto;}
.photoList .pe_u_thumb img {margin:1px;}
.photoList .pe_u_thumb_title { display:none;}

/* 学校概况 */
.fl{display:inline;float:left;}
.fr{display:inline;float:right;}
.add{overflow:hidden;width:980px;height:52px;background:url(images/ad.jpg) no-repeat;}
.about{overflow:hidden;width:auto;height:168px;background:url(../images/web/about.jpg) no-repeat;}
.about .hd{height:50px;padding-right:20px;line-height:44px;}
.about .hd a{color:#999;}
.about .hd a:hover{color:#ff6600;}
.about .bd{overflow:hidden;height:100px;padding:0 20px 0 25px}
.about img{display:inline;float:left;width:115px;height:89px;margin-right:27px;padding:1px;border:1px solid #c6def7;background-color:#fff;}
.about .bd p{line-height:24px;text-indent:24px;}
.about .bd h3{height:24px;font-size:14px;text-align:center;line-height:24px;}
.about .bd h3 a{color:#666;}
.about .bd p{text-indent:24px;}

/****************网站统计****************/
 .statistics_content {
	line-height:22px;
	padding-top:2px;
	padding-left:10px;
}
*html .statistics_content {
	padding-top:2px;
	line-height:22px;
}
.statistics_content a {
	color:#ae541f;
}
.statistics_content a:hover {
	color:#cc0000;
}
