body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,label {margin:0;padding:0;}
body, button, input, select, textarea {font: 12px  Arial, Helvetica, sans-serif;}
body{ background-color:#FFF;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
ul,li{ list-style-type:none;}img{ border:none 0;}
.fl{ float:left;}.fr{ float:right;}.re{position:relative;}.cl{ clear:both; overflow:hidden;}
a {text-decoration: none; color:#666;}a:hover {text-decoration:none; color:#F00}
.wrap{ width: auto; height:100%; overflow:hidden; background-color:#FFF;}.au{ margin:0 auto;}
.layout{ width:1000px; margin:0 auto; height:100%;}
.mtop{ padding:12px 0px;}

/*字体颜色*/
.red{ color:#F00;}
.green{ color:#008f21;}

.blank10{
	font-size: 0px;
	line-height: 1px;
	display: block;
	height: 10px;
	overflow: hidden;
}
.blank30{
	font-size: 0px;
	line-height: 1px;
	display: block;
	height: 30px;
	overflow: hidden;
}
.clear{ clear:both;}

/*index首页样式*/
.topmain_1{ background:#0e3880;}
.top_main{ height:92px; width:100%; background:url(../../images/xiaoyou/topbg.png) no-repeat center center;}
.top_1{ width:1000px; height:92px; margin:0 auto;}
.logo_top{ width:225px; height:92px; float:left;}
.logo_top a{width:225px; height:92px; display:block;}
.dh_dop{ width:675px; float:right;}
.top_caidan{ text-align:right; height:26px; font:12px/26px "微软雅黑"; color:#fff;}
.top_caidan a{ color:#febf00;}
.menu_top{ position:relative;}
.xiala_caidan{
	width:317px;
	height:146px;
	background:#fff;
	position:absolute;
	top:62px;
	z-index:999;
	
}
.xl_lr1{ padding:15px 0 0 20px; font:12px/18px "宋体"; color:#999; width:190px;}
.xl_cd_ul{ width:190px; padding:10px 0 0 20px;}
.xl_cd_ul li{ background:url(../../images/xiaoyou/xl_ico.gif) no-repeat left center; padding-left:10px; float:left; margin-right:25px;}
.xl_cd_ul li a{ font:12px/25px "微软雅黑";color:#062b72;}


.menu_top_ul{}
.menu_top_ul li{ float:left; width:80px; text-align:center;}
.menu_top_ul li a{ font:14px/63px "微软雅黑"; color:#fff; display:block;}
.menu_top_ul li a:hover{ width:80px; height:63px; background:#fff; color:#062b72 !important; display:block;}
.menu_line{ background:url(../../images/xiaoyou/menu_line.gif) no-repeat right center;}
.container_main{ width:998px; height:242px; margin:0 auto;}
.lr_main{ float:left; margin:0 8px;}
.jj_home{ font:12px/22px "宋体"; color:#666; margin-top:10px;}
.jj_home img{ float:left; margin-right:10px; padding:2px; border:solid 1px #ddd; background:#fff;}
.home_new_ul{ width:300px; margin:12px auto 0;}
.home_new_ul li{ background:url(../../images/xiaoyou/ico_home.gif) no-repeat left center; padding-left:10px; line-height:23px;}
.home_time{ float:right; color:#999;}
.homelxwm_dl{ margin-top:15px;}
.homelxwm_dl dd{ font:12px/22px "宋体"; color:#666;}
.home_down{ background:#f7f7f7; height:204px; padding-top:40px; border-top:solid 1px #ddd;}
.down_main{ width:1000px; margin:0 auto;}
.cpfw_left{ width:622px; float:left;}
.cpfw_right{ width:335px; float:right;}
.cpwf_dl{ margin-top:15px; height:100px;}
.cpwf_dl dt{ font:bold 12px/20px "宋体"; color:#333;}
.cpwf_dl dt img{ float:left; margin-right:20px; margin-top:5px;}
.cpwf_dl dd{ font:12px/22px "宋体"; color:#666;}
.cp_ico_ul{ width:30px; float:right;}
.cp_ico_ul li{ float:left; margin-right:5px;}
.cp_ico_ul li img{
	cursor: pointer;
}
.dibu_1{ background:#2263A5; width:100%; height:46px;}
.dibu_2{ background:#3F87CF; width:100%;}
.dibu_2 p{ line-height:30px}
.dibu_2 ul{ clear:both}
.dibu_2 ul li{ float:left}
.dibu_2 ul li a{ padding:0 5px; color:#fff}
.dibu_2 ul li a:hover{ color:#999}


.site-nav{ background-color:#eef1f5; min-width:1000px; border-bottom:1px solid #e3e8ef; width:auto;}
.site-nav-bd{ width:1000px; height:21px; padding:3px 0px; line-height:22px;}
.site-info{}
.quick-menu{ width:340px; display:block;}
.quick-menu li{ float:left; padding:0px 10px; background:url(../../images/xiaoyou/li-line1.jpg) no-repeat right 6px;}
.quick-menu li.last { background: none repeat scroll 0 0 transparent;}

.layout-hd{ height:70px; padding:20px 0px 10px; width:1000px;}
.jw-logo{ width:465px;}
.user-login{ width:340px}
.user-login .table tr{ margin-bottom:2px; display:block}
.user-login .table td.wtd1{ width:50px; text-align:right; padding-right:5px;}
.user-login .table td.wtd2{ padding-right:6px;}
.in-txt{ width:128px; height:21px; border:1px solid #ccc; line-height:21px; padding-left:6px;}
.btn-bg{ width:60px; height:24px;}


.header-nav-bg{ background:url(../../images/xiaoyou/nav_bg.jpg) repeat-x; height:46px;}
.nav{ height:46px; z-index:9999;}
.nav li{ float:left; display:block; width:98px;padding:0px 1px; height:46px; line-height:46px; text-align:center;background:url(../../images/xiaoyou/nav_line.jpg) no-repeat right center; overflow:hidden;}
.nav li a{ font:bold 14px/46px "Microsoft Yahei"; color:#FFF;}
.nav li a:hover{ background:url(../../images/xiaoyou/nav_li_hover.jpg) no-repeat center center; width:98px; height:46px; text-decoration:none; display:block; color:#FFF}
.first{background:url(../../images/xiaoyou/nav_line.jpg) no-repeat left center;overflow:hidden;width:2px;height:42px;position:absolute;top: 2px;}

.menu{width: 270px;border: 1px solid #2367ac;border-bottom: 2px solid #2367ac;border-top: none;background: #FFF url(../../images/xiaoyou/xljt_ico.jpg) no-repeat 10px 0px;}
.xlcd{position: absolute;left: 100px;top: 46px;z-index:9999;}
.xlcd1{position: absolute;left:200px;top: 46px;z-index:9999;}
.xlcd2{position: absolute;left:300px;top: 46px;z-index:9999;
}.xlcd3{position: absolute;left:400px;top: 46px;z-index:9999;
}.xlcd4{position: absolute;left:500px;top: 46px;z-index:9999;
}.xlcd5{position: absolute;left:600px;top: 46px;z-index:9999;
}.xlcd6{position: absolute;left:700px;top: 46px;z-index:9999;
}.xlcd7{position: absolute;left:800px;top: 46px;z-index:9999;
}.xlcd8{position: absolute;left:900px;top: 46px;z-index:9999;}
.xlcd li,.xlcd1 li,.xlcd2 li,.xlcd3 li,.xlcd4 li,.xlcd5 li,.xlcd6 li,.xlcd7 li,.xlcd8 li{ background: none no-repeat right center; width:86px; height:100%; display:block;}
.xlcd li a,.xlcd1 li a,.xlcd2 li a,.xlcd3 li a,.xlcd4 li a,.xlcd5 li a,.xlcd6 li a,.xlcd7 li a,.xlcd8 li a{ color:#666; display:block; border-bottom:1px dashed #dbdbdb;margin:5px; width:88px; height:40px; float:left;_display:inline}
.xlcd li a:hover,.xlcd1 li a:hover,.xlcd2 li a:hover,.xlcd3 li a:hover,.xlcd4 li a:hover,.xlcd5 li a:hover,.xlcd6 li a:hover,.xlcd7 li a:hover,.xlcd8 li a:hover{ color:#008f21; text-decoration:none; background:none; display:block; width:88px; height:40px;_display:inline}
.xlcd li.last,.xlcd1 li.last,.xlcd2 li.last,.xlcd3 li.last,.xlcd4 li.last,.xlcd5 li.last,.xlcd6 li.last,.xlcd7 li.last,.xlcd8 li.last{border-bottom:none 0;}
/*首页banner特效样式*/
#mainbody{ width:100%; overflow:hidden; height:100%;}
.index_bg01 {BACKGROUND: url(../../images/xiaoyou/banner_bg01.gif) repeat-x 0px 0px}
.index_bg02 {BACKGROUND: url(../../images/xiaoyou/banner_bg02.gif) repeat-x 0px 0px}
.index_bg03 {BACKGROUND: url(../../images/xiaoyou/banner_bg03.gif) repeat-x 0px 0px}
.index_bg04 {BACKGROUND: url(../../images/xiaoyou/banner_bg04.gif) repeat-x 0px 0px}
.index_bg05 {}
#warp {PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 357px; PADDING-TOP: 0px;}
.banner { MARGIN: 0px auto; WIDTH: 971px; HEIGHT: 357px; _width: 973px}
.banner_l {MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left}
.banner_r {MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left}
.bannerImg {POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 925px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px}
.bannerImg .bannerPage {POSITION: absolute; TOP: 300px; LEFT: 420px}
.bannerImg .bannerPage A {MARGIN-RIGHT: 2px}
.bannerImg .bannerPage A IMG {VERTICAL-ALIGN: middle}
.slides_container {POSITION: relative; WIDTH: 925px; OVERFLOW: hidden}
.pagination {MARGIN: 26px auto 0px}
.pagination LI {MARGIN: 0px 1px; FLOAT: left}
.pagination LI A {BACKGROUND-IMAGE: url(../../images/xiaoyou/pagination.png); WIDTH: 15px; DISPLAY: block; BACKGROUND-POSITION: 0px -1px; FLOAT: left; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 12px}
.pagination LI.current A {BACKGROUND-POSITION: 0px -18px}

.bd1{ width:auto; border-top:1px solid #e0e0e0; height:100%; overflow:hidden;}
.cont_left{ width:620px; height:100%; overflow:hidden;}
.hTitle{ height:30px; line-height:30px; border-bottom:2px solid #e0e0e0; }
.hTitle h2{font:12px/30px "Microsoft Yahei"; text-indent:-9999px}
.cx,.news_gg,.xlzj,.sale_act{background:url(../../images/xiaoyou/hTitle_1.gif) no-repeat 0 0; }
.cx{ width:210px;}
.ym{ width:15px; height:15px; overflow:hidden; margin:0 3px;}
.main_sd_1{ width:160px; height:30px; line-height:30px;}
.main_sd_1 li{ float:left;}
.main_sd_1 li a,.main_sd_1 li:hover{ text-decoration:none;}
.main_Ymcx{ width:400px; background:url(../../images/xiaoyou/w_txt.jpg) no-repeat left 15px;margin:20px auto; height:38px; padding-left:68px;}
.main_Ymcx span.inptxt{ width:289px; height:38px; li}
.Ymcx_txt{ width:287px; border:2px solid #e0e0e0; border-right:none; background:#FFF; height:34px; padding:0px 4px; margin-left:5px;_display:inline; font:14px/34px "Microsoft Yahei"}
.Ymcx_btn{ width:98px; height:38px;}
.domainlist{ width:500px; height:100%; overflow:hidden;}
.domainlist table{ color:#666; text-align:left; width:460px;}
.domainlist table tr td{ height:45px; width:84px;}

.cont_m{ width:45px; background:url(../../images/xiaoyou/bd_line.jpg) no-repeat center center; height:260px;}
.cont_right{ width:335px; height:100%; overflow:hidden;}
.news_gg{ background-position:0px -40px; width:242px;}
.sale_act{ background-position:0px -214px; width:242px;}
.more{ background:url(../images/more.jpg) no-repeat; width:36px; height:7px; overflow:hidden; margin:12px 10px 0 0; text-indent:-9999;}
.news_lists{ padding:20px 10px 10px; overflow: hidden; height:100%; width:300px;}
.news_lists li{ background:url(../images/p_ico.jpg) no-repeat left center; width:300px; height:28px; line-height:28px; padding-left:10px;}
.news_lists li a{ font:12px/24px "Microsoft Yahei"; width:230px; display:block;}
.news_lists li span{ float:right; display:block; color:#888;}


.bd2{ width:auto; height:100A%; overflow:hidden; background:url(../../images/xiaoyou/bd2_bg.jpg) repeat-x; padding:30px;}
.bd2_cont1{ width:229px; overflow:hidden;}
.bd2_cont2{ width:229px; overflow:hidden; margin:0 28px}
.bd2_cont3{ width:229px; overflow:hidden; margin-right:28px;}


.cont1_tit{ background:url(../images/bd2_cont1.jpg) no-repeat; width:229px; height:46px; padding-bottom:8px;}
.cx,.xl,.jy,.em,.zy{background:url(../images/hTitle_1.gif) no-repeat 0 0; }
.xl{background-position:10px -72px; width:125px; height:34px;}
.jy{background-position:10px -104px; width:128px; height:34px;}
.em{background-position:10px -138px; width:150px; height:34px;}
.zy{background-position:3px -174px; width:130px; height:34px;}
a.zj{ font:12px/46px Arial, Helvetica, sans-serif; padding-right:5px;}
a.zj:hover{ text-decoration:none;}
.js_pic{ border:1px solid #FFF; padding:5px;}
.js_txt{ padding:10px;}
.js_txt p{ line-height:24px; color:#666;}
.js_txt p.zs{ font:14px/24px Arial, Helvetica, sans-serif; color:#F00; padding-top:5px;}
.js_btn{ padding:5px; height:26px;}
.js_btn span{ width:84px; height:26px;margin:0 20px 0 5px ;display:block; float:left;}

.bd3{ width:auto; height:100%; overflow:hidden; padding:20px 0;}
.cont_m2{ width:45px; background:url(../images/bd3_line.jpg) no-repeat center center; height:230px;}
.tags{width:250px;height:35px;position:absolute;left: 5px;top: 0px;}
.tags li{ float:left; width:95px; text-align:center; font:16px/30px "Microsoft Yahei";border-bottom:none; margin-right:15px;}
.tags li a{ display:block; height:29px; width:95px; }.tags li a:hover{ text-decoration:none;}
.tags li.active{ background:url(../../images/xiaoyou/actbg.jpg) no-repeat 0 2px; width:95px; height:37px;}
.tags li.active a{ color:#FFF; }
.tags li.normal{ background-color:#eee; border:1px solid #e0e0e0; border-bottom:none;width:95px; height:29px;} 
.tags li.normal a{ color:#666;}
.dis{display:block;}
.undis{display:none;}

.tagContent {  background-color:#FFF; COLOR: #474747; height:100%; overflow:hidden;margin-top:12px;}
.tagContent span.tit{ display:block; height:30px; line-height:30px;}
.tagContent ul{ width:620px; overflow:hidden; display:block;}
.tagContent li img{width:137px; height:132px; border:1px solid #e3e3e3; }
.tagContent li{ float:left; width:137px;display:block; text-align:center; margin:0px 9px !important; margin:0 8px 0 8px;_display:inline;}
.tagContent li a{ text-decoration:none; color:#474747;}
.tagContent li a:hover{ text-decoration:none; color:#F00;}


.act_pic{ border:1px solid #e0e0e0; padding:1px; width:328px; margin:15px 0;}
.helper{ background-color:#ececec; height:160px; overflow:hidden; width:970px; padding:15px;}
.helper_list{ background:url(../images/foot_line.jpg) repeat-y right center; height:160px;  width:194px;}
.helper_list.last{ background:none no-repeat right center;}
.list_ico,.ico1,.ico2,.ico3,.ico4{ background:url(../../images/xiaoyou/ico.gif) no-repeat 10px 0; padding-left:40px; font:bold 14px/24px Arial, Helvetica, sans-serif,"Microsoft Yahei"; color:#666; padding-bottom:5px;}
.ico1{ background-position:10px -29px;}
.ico2{ background-position:10px -58px;}
.ico3{ background-position:10px -87px;}
.ico4{ background-position:10px -116px;}

.helper_list p{ font:12px/22px Arial, Helvetica, sans-serif; color:#666; padding-left:40px;}
.hzhb_index_ul{ margin-top:10px; width:95%;}
.hzhb_index_ul li{}
.hzhb_index_ul li a{ font:12px/23px "宋体";}
.hzhb_index_ul li span{ float:right; line-height:23px;}
.hzhb_index_ul li span a{ color:#999;}

/* 成功案例滚动JS */
.rollBox{width:622px; height:120px;overflow:hidden;margin:0 auto;}
.rollBox .Cont{width:622px;overflow:hidden;margin:0 auto;padding-top:20px;}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{width:130px;float:left;text-align:center;padding-right:20px;}
*+html .rollBox .Cont .pic{width:130px;float:left;text-align:center;padding-right:30px;}
.rollBox .Cont .pic img{padding:4px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.anli_leirong .ly_leirong img{ padding:7px; border:solid 1px #CCC; margin-top:20px;} 




/*新闻列表样式开始*/
.news_adv{ padding:0px 15px 20px; display:block; height:100%; overflow:hidden;}
.news_adv li{ border-bottom:1px dashed #e5e5e5; float:left; background:url(../../images/xiaoyou/news_ico.jpg) no-repeat 10px center; width:635px; padding-left:30px; font:14px/50px Arial, Helvetica, sans-serif; color:#666; height:50px;}
.news_adv li em{ font:normal 14px/50px Arial, Helvetica, sans-serif;width:100px; float:right;}
.news_adv li a{ color:#444;  width:520px; float:left;}.news_adv li a:hover{ text-decoration:underline; color:#F00}
.leiye_banner{ width:100%; height:200px; background:#f0f0f0; text-align:center;}
.leiye_container{ width:960px; margin:0 auto; background:#fff; padding:20px;}
.leye_left{ width:220px; float:left;}
.leye_right{ width:700px; float:right;}
.biaoti_top{ height:40px; border-bottom:solid 1px #ddd;}
.biaoti{ font:bold 18px/35px "微软雅黑"; color:#fff; width:110px; background:#1f61b7; text-align:center; float:left;}
.biaoti_right{ float:right; line-height:35px;}
.lb_fl_ul{ border-bottom:solid 1px #ddd; height:35px;}
.lb_fl_ul li{ float:left; width:70px; text-align:center;}
.lb_fl_ul li a:hover{background:#1d5fad;color:#fff; display:block; width:70px; height:35px;}
.lb_tab{ background:#1d5fad;}
.lb_tab a{ color:#fff;}
.lb_fl_ul li a{ font:12px/35px "微软雅黑";}
.leibiao_list_ul{}
.leibiao_list_ul li{ background:url(../../images/xiaoyou/ico2.gif) no-repeat left center; border-bottom:dashed 1px #ddd; padding-left:15px;}
.leibiao_list_ul li a{ font:14px/40px "微软雅黑";}
.leibiao_list_ul li span{ float:right; color:#CCC; font:14px/40px Arial, Helvetica, sans-serif;}
.lbleft_ul{}
.lbleft_ul li{ border-bottom:solid 1px #ddd; height:30px; padding:5px 0; text-align:center;}
.lbleft_ul li a{ font:14px/30px "微软雅黑"; display:block;}
.lbleft_ul li a:hover{ display:block; height:30px; background:url(../../images/xiaoyou/lb.gif) no-repeat; color:#fff;}
.lbleft_tab a{display:block; height:30px; background:url(../../images/xiaoyou/lb.gif) no-repeat; color:#fff;}


/*新闻内容内页样式开始*/
.bd1_Cont h2.bt{ font: normal 20px/26px Arial, Helvetica, sans-serif ,"Microsoft Yahei";  display:block; text-align:center;margin: 0 20px 10px 20px; padding-bottom:15px; border-bottom:1px dashed #e5e5e5;}
.bd1_Cont p.context{ text-indent:2em; color:#444; font-size:14px; padding:15px 25px; line-height:24px;}

.ly_h1{ font:bold 22px/50px "微软雅黑"; text-align:center; border-bottom:solid 1px #ddd;}
.ly_leirong{ font:14px/28px "微软雅黑"; color:#333; margin-top:15px;}
.ly_leirong p{
	text-indent: 2em;
}
.lbdl{ border-bottom:dashed 1px #ddd; height:150px;}
.lbdl dt a img{ padding:5px; border:solid 1px #ddd;}
.web_dd a{ color:#06C !important;}
.web_dd{ color:#06C !important;}

/*底部样式开始*/
.footer_dh{ background-color:#2263a5; height:46px; color:#FFF; text-align:center; line-height:46px;}
.footer_dh a{ color:#FFF; text-align:center; padding: 0 15px; font-size:14px;}
.footer_dh a:hover{ color:#FFF; text-decoration:none;}
.footer_info{ background-color:#3f87cf; border-top:1px solid #5b99d6; height:150px;}
.layout.hg{ padding:20px 50px 0; width:900px; height:90px;}
.footer_info p{ color:#FFF; text-align:left}
.footer_info p a{ color:#fff;}

/*qq客服样式*/
.float0831 {
	POSITION: fixed; TOP: 180px; RIGHT: 1px; _position: absolute
}
.float0831 A {
	COLOR: #666; font-size:14px;
}
.float0831 A:hover {
	COLOR: #ff8100; TEXT-DECORATION: none
}
.float0831 .floatL {
	POSITION: relative;
	WIDTH: 40px;
	FLOAT: left
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px
}
.float0831 .floatR {
	BACKGROUND: url(../../images/xiaoyou/bp.jpg)
}
.float0831 .tp {
	BACKGROUND: url(../../images/xiaoyou/tp.jpg) no-repeat; height:43px;}
.float0831 .cn {
	BACKGROUND: url(../../images/xiaoyou/mp.jpg) repeat-y; width:136px;
}
.float0831 .floatR {
	PADDING-BOTTOM:6px; WIDTH: 136px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom; FLOAT: left; OVERFLOW: hidden
}
.float0831 .cn UL { padding:0px 10px;
}
.float0831 .cn UL LI { background:url(../../images/xiaoyou/li_bg.jpg) no-repeat; border-top:2px solid #FFF; LINE-HEIGHT:47px; WORD-WRAP: break-word; HEIGHT:47px; width:126px; OVERFLOW: hidden; WORD-BREAK: normal
}
.float0831 .icoTc {
	BACKGROUND: url(../../images/xiaoyou/qqico.gif) no-repeat left 10px;
}
.float0831 .icoTc {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .btnOpen {
	BACKGROUND: url(../../images/xiaoyou/btnctn.jpg) no-repeat
}
.float0831 .btnOpen_n {
	BACKGROUND: url(../../images/xiaoyou/btnctn.jpg) no-repeat
}
.float0831 .btnCtn {
	BACKGROUND: url(../../images/xiaoyou/btnctn.jpg) no-repeat
}
.float0831 .btnOpen {
	POSITION: relative; WIDTH: 40px; HEIGHT: 146px; TOP: 60px; LEFT: 0px
}
.float0831 .btnOpen_n {
	POSITION: relative; WIDTH: 40px; HEIGHT: 146px; TOP: 60px; LEFT: 0px
}
.float0831 .btnCtn {
	POSITION: relative;
	WIDTH: 40px;
	HEIGHT: 146px;
	TOP: 60px;
	LEFT: 0px
}
.float0831 .btnOpen {
	TOP: 60px; LEFT: 0px
}
.float0831 .btnOpen_n {
	TOP: 60px; LEFT: 0px
}


/* 分页样式 */
DIV.sabrosus {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.sabrosus A {
	BORDER-RIGHT: #9aafe5 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9aafe5 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #9aafe5 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
DIV.sabrosus A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.current {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #2e6ab1
}
DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}

.pagelist{}
.pagelist{ position: relative; left: 50%; float: left;}
.pagelist li{ position: relative; right: 50%; display: inline; float: left; padding:0 8px;}
